/*Estilos da pagina index*/

main {
    text-align:center;


}

.cover-container figure img{
    width: 100%;
}

main h2.title {
    font-size: 1.2em;
}

main section abbr {
    color:#25cbd3;

}

@media screen and (min-width: 992px) {
    .cover-container {
        width:40%;
    }

    .cover-container figure img {
        display: inline-block;
    }
    
}